streamlit
gradio
huggingface_hub
diffusers
torch --index-url https://download.pytorch.org/whl/cu121
torchvision
torchaudio
moviepy
Pillow
opencv-python
langchain
ollama
ffmpeg-python
requests
pydantic
openai # optional for API
